@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f9;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 114px 24px;
  height: 604px;
  width: 375px;
  gap: 12px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 275px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  width: fit-content;
  gap: 275px;
}

.check {
  display: flex;
  list-style: none;
  margin: 0;
}

header .left .right {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

h1 {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.pg1 {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect {
  height: 24px;
  width: 117px;
  left: 24px;
  top: 434px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  line-height: 100%;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 24px;
  margin-top: 12px;
}

.footer {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.stack {
  display: flex;
  justify-content: left;
  gap: 5px;
  list-style: none;
}

.stack-elem:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  border: #6070ff;
}

.stack-elem:active {
  background: #2230d2;
}

.stack .stack-elem {
  width: 33px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  border: none;
}

.About-myself {
  background-color: #fff;
  align-items: center;
  margin: 114px 24px;
  display: flex;
  flex-direction: column;
  height: 1263px;
  width: 375px;
  border-top-right-radius: 25px;
}

#myself {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  line-height: 87%;
  text-align: left;
  vertical-align: center;
  font-style: bold;
  color: #172b4d;
  margin-bottom: 12px;
  left: -213px;
  display: flex;
  width: fit-content;
  margin-top: 114px;
}

.pg2 {
  height: 147px;
  width: 327px;
  left: 0;
  top: 47px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  vertical-align: top;
  background-color: #fff;
}

.resume {
  height: 24px;
  width: 138px;
  left: 12px;
  top: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: white;
  margin-bottom: 60px;
  margin-top: 22px;
}

.work-section {
  display: grid;
  padding: 114px 24px;
  gap: 88px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.tags-li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tags-li-blod {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.see-project {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
}

.see-project:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.see-project:active {
  background: #2230d2;
}

.contact-me {
  width: 375px;
  height: 779px;
  background-image: url("images/image-for-contact\ me.png");
  border-image-repeat: none;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
}

.comment-on-contact-me {
  height: 137px;
  width: 327px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  background-color: #6070ff;
  color: #fff;
}

#email {
  height: 48px;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 4991px;
  border-radius: 10px;
  border: none;
}

#name {
  height: 48px;
  width: 327px;
  left: 24px;
  top: 4991px;
  border-radius: 10px;
  right: 24px;
}

#message {
  height: 170px;
  width: 327px;
  left: 24px;
  top: 5125px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

a {
  text-decoration: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.skills li {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 20px;
  line-height: 80%;
  vertical-align: center;
  margin-bottom: 36px;
}

#divider {
  background-color: #dfe1e6;
  height: 1px;
  width: 327px;
  left: 0;
  top: 71px;
  margin-top: 24px;
  margin-bottom: 23px;
}
